In [82]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score
from sklearn.preprocessing import StandardScaler


df = pd.read_csv("../../Datasets/California/california-house.csv")
df = df.drop("ocean_proximity", axis=1)
df1 = df

corr_matrix = df.corr(numeric_only=True)  # untuk pandas versi terbaru
corr_matrix

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
longitude,1.000000,-0.924664,-0.108197,0.044568,0.069608,0.099773,0.055310,-0.015176,-0.045967
latitude,-0.924664,1.000000,0.011173,-0.036100,-0.066983,-0.108785,-0.071035,-0.079809,-0.144160
housing_median_age,-0.108197,0.011173,1.000000,-0.361262,-0.320451,-0.296244,-0.302916,-0.119034,0.105623
total_rooms,0.044568,-0.036100,-0.361262,1.000000,0.930380,0.857126,0.918484,0.198050,0.134153
total_bedrooms,0.069608,-0.066983,-0.320451,0.930380,1.000000,0.877747,0.979728,-0.007723,0.049686
population,0.099773,-0.108785,-0.296244,0.857126,0.877747,1.000000,0.907222,0.004834,-0.024650
households,0.055310,-0.071035,-0.302916,0.918484,0.979728,0.907222,1.000000,0.013033,0.065843
median_income,-0.015176,-0.079809,-0.119034,0.198050,-0.007723,0.004834,0.013033,1.000000,0.688075
median_house_value,-0.045967,-0.144160,0.105623,0.134153,0.049686,-0.024650,0.065843,0.688075,1.000000

In [83]:

df1 = df1.drop(columns=["longitude","latitude","total_rooms","total_bedrooms","population","households"],axis=1)

X = df1.iloc[:,0:4]

y = df1["median_house_value"]

X_train, X_temp, y_train, y_temp = train_test_split(X, y, test_size=0.5, random_state=20)
X_valid, X_test, y_valid, y_test = train_test_split(X_temp, y_temp, test_size=0.5, random_state=20)

model = LinearRegression()
model.fit(X_train,y_train)

y_pred = model.predict(X_valid)
y_pred2 = model.predict(X_train)

print("R2:", r2_score(y_valid, y_pred))
print("R2:", r2_score(y_train, y_pred2))

df1

R2: 1.0
R2: 1.0

       housing_median_age  median_income  median_house_value
0                      41         8.3252              452600
1                      21         8.3014              358500
2                      52         7.2574              352100
3                      52         5.6431              341300
4                      52         3.8462              342200
...                   ...            ...                 ...
20635                  25         1.5603               78100
20636                  18         2.5568               77100
20637                  17         1.7000               92300
20638                  18         1.8672               84700
20639                  16         2.3886               89400

[20640 rows x 3 columns]

In [92]:
df2 = df.drop(columns=["total_bedrooms","population","households"],axis=1)

X = df2.iloc[:,0:6]

y = df["median_house_value"]

X_train, X_temp, y_train, y_temp = train_test_split(X, y, test_size=0.5, random_state=20)
X_valid, X_test, y_valid, y_test = train_test_split(X_temp, y_temp, test_size=0.5, random_state=20)

model = LinearRegression()
model.fit(X_train,y_train)

y_pred = model.predict(X_valid)
y_pred2 = model.predict(X_train)

print("R2:", r2_score(y_valid, y_pred))
print("R2:", r2_score(y_train, y_pred2))

df2

R2: 1.0
R2: 1.0

,longitude,latitude,housing_median_age,total_rooms,median_income,median_house_value
0,-122.23,37.88,41,880,8.3252,452600
1,-122.22,37.86,21,7099,8.3014,358500
2,-122.24,37.85,52,1467,7.2574,352100
3,-122.25,37.85,52,1274,5.6431,341300
4,-122.25,37.85,52,1627,3.8462,342200
...,...,...,...,...,...,...
20635,-121.09,39.48,25,1665,1.5603,78100
20636,-121.21,39.49,18,697,2.5568,77100
20637,-121.22,39.43,17,2254,1.7000,92300
20638,-121.32,39.43,18,1860,1.8672,84700
20639,-121.24,39.37,16,2785,2.3886,89400